<div class="index__billboard">
  <h1>Prospero's <span>Books</span></h1>
  <p>A IIIF Presentation API 2.0 Reader created with Backbone.js &amp; <a href="http://marionettejs.com/">Marionette.js</a>.</p>
</div>
